{{#each characters}}
    <div class="card card-body mb-2">
        <h4>{{charName}}</h4>
        <p>{{charClass}}</p>
        <p>{{charRace}}</p>
        <a class="btn btn-dark btn-block mb-2" href="/characters/edit/{{id}}">Edit</a>
        <form method="post" action="/characters/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form>
    </div>
{{else}}
    <p>No characters listed</p>
{{/each}}